<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Zee5 Content Dashboard</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
         crossorigin="anonymous">
           
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
             crossorigin="anonymous">
</head>
<body>


<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<div class="container-fluid">
			<a class="navbar-brand" href="https://www.zee5.com/">
			  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Zee5_Official_logo.svg/1200px-Zee5_Official_logo.svg.png" width="50" height="50" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight: bold;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Content Dashboard
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" th:href="@{/zee5dashboard}">Home</a></li>
                          <li><a class="dropdown-item" th:href = "@{/zee5dashboard/toch-dashboard}">Toch Dashboard</a></li>
                          <li><a class="dropdown-item" href="https://www.zee5.com/termsofuse">Before TV filter</a></li>
                          <li><a class="dropdown-item" th:href="@{/zee5dashboard/beforetv-dash}">Before TV Dash</a></li>
                        </ul>
                      </li>
				  <li class="nav-item">
					<a class="nav-link" style="font-weight: bold;" href="#" th:href="@{/zee5dashboard/admin/admin-user}">Users</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" style="font-weight: bold;" href="https://www.zee5.com/privacypolicy">Video Summary</a>
				  </li>
                  <li class="nav-item">
					<a class="nav-link" style="font-weight: bold;" href="https://www.zee5.com/privacypolicy">Weekly Webisode</a>
				  </li>
                  
				  <!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="font-weight: bold;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  About
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					  <li><a class="dropdown-item" href="https://www.zee5.com/aboutus">Zee5</a></li>
					  <li><a class="dropdown-item" href="https://docs.google.com/document/d/1Oj1AoNq3OePpnD8rdgt-kVoRH1M96LKZQE8wju_HK88/edit">Domains</a></li>
					  <li><a class="dropdown-item" href="https://www.zee5.com/termsofuse">Company T&C</a></li>
					</ul>
				  </li> -->
				</ul>
			  </div>
			</div>
			
				
			  
			
		  </nav>
</div>




<!--  
<script>
$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

</script>
-->
<script>
function searchTable(){
// Declare variables
var input, filter, table, tr, td, i;
input = document.getElementById("query_input");
filter = input.value.toUpperCase();
table = document.getElementById("beforetvtable");
tr = table.getElementsByTagName("tr");



// Loop through all table rows, and hide those who don't match the search query
for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td") ;
for(j=0 ; j<td.length ; j++)
{
let tdata = td[j] ;
if (tdata) {
if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
tr[i].style.display = "";
break ;
} else {
tr[i].style.display = "none";
}
}
}
}
}

</script>
	



<div class ="container">
	<div class = "row">
	    <h2 class="d-flex justify-content-center p-3">Before Tv Dashboard</h2>
		
	</div>
	
	<div class = "row">
		<div class = "col-lg-6">
			<a th:href = "@{/zee5dashboard/beforetv-add}" class = "btn btn-primary btn-sm mb-3"> Add Show</a>
			<a href = "#" class="btn btn-secondary text-white btn-sm mb-3 "> Import CSV</a>
			<a th:href = "@{/zee5dashboard/beforetv-dash/download/beforetvDashboard.csv}" class="btn btn-secondary text-white btn-sm mb-3 "> Export CSV</a>
		</div>
	</div>
	
	<div class="p-3">
	
	<form th:action="@{/zee5dashboard/beforetv-dash}" method="get">
	
	<!-- 
	<div class="input-group">
  <input id="filter" type="text" class="form-control" name="keyword" th:value="${keyword}"  placeholder="Find by Show Name & Show Id" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
  <button th:href="@{/zee5dashboard/beforetv-dash}" class="btn btn-warning">Clear</button>
  </div>
  -->
  
   <div class="m-portlet__body">
<div class="form-group m-form__group mt-2 mb-2 col-md-6">

<div class="input-group">
<div class="input-group-prepend">
<button th:href="@{/zee5dashboard/toch-dashboard}" class="btn btn-warning">Clear</button>
<!--  
<button
class="btn btn-warning"
id="clearq"
type="button"

>
Clear
</button>
-->
</div>
<input
type="text"
id="query_input"
class="form-control"
placeholder="Search for..."
value=""
/>
<div class="input-group-append">
<button
class="btn btn-success"
id="searchq"
type="button"
onClick="searchTable()"
>
Search
</button>
</div>
</div>
</div>
</div>
  </form>
  </div>
	<table id="beforetvtable" border="1" class = "table table-striped table-responsive-md table-bordered">
		<thead class = "table-dark">
			<tr>
				<th> # </th>
				<th> Show ID </th>
				<th> Show Name</th>
				<th> Show Start time </th>
				<th> Show End time </th>
				<th> Day applicable </th>
				<th> Status </th>
				<th> Season ID </th>
				<th> Action </th>
			</tr>
		</thead>
		
		<tbody class="searchable">
			<tr th:each = "show: ${allShows}">
				<td th:text = "${show.position}"></td>
				<td th:text = "${show.ShowID}"></td>
				<td th:text = "${show.ShowName}"></td>
				<td th:text = "${show.ShowStartTime}"></td>
				<td th:text = "${show.ShowEndTime}"></td>
				<td th:text = "${show.DayApplicable}"></td>
				<td th:text = "${show.STATUS}"></td>
				<td th:text = "${show.SeasonID}"></td>
				<td>
					<a th:href = "@{/zee5dashboard/beforetv-edit/{id}(id=${show.id})}"
					 class = "btn btn-primary">Edit</a>
					
					<a th:href = "@{/zee5dashboard/beforetv-delete/{id}(id=${show.id})}"
					 class = "btn btn-danger">Delete</a>
				</td>
			</tr>
		</tbody>
	
	</table>
	
	<!-- Page <span th:text="${currPage}" th:remove="tag"></span> -->
	
	<!-- pagination -->
	<nav aria-label="Pagination" th:if="${numPages gt 0}">
	    <ul class="pagination justify-content-center font-weight-medium">
	        <li class="page-item" th:classappend="${numRecords eq 0 || currPage eq 1} ? 'disabled'">
	            <a class="page-link svg-icon"
		               th:href="@{/shows?page={id}(id=${numRecords lt pageSize ? 1 : currPage - 1})}"
		               aria-label="Previous" th:text="Previous"
		               title="Previous Page" rel="tooltip">
	               <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
	            </a>
	        </li>
	        <li class="page-item 2" th:classappend="${i eq currPage} ? 'active'"
	            th:each="i : ${#numbers.sequence( 1, numPages > currPage + 2 ? currPage + 2 : numPages, 1)}">
	            <a class="page-link" th:href="@{/shows?page={id}(id=${i})}" th:text="${i}"
	               th:title="${'Page '+ i}" rel="tooltip">
	            </a>
	        </li>
	        <li class="page-item disabled" th:if="${currPage + 2 < numPages}">
	            <a class="page-link svg-icon" href="#">
	                <span data-feather="more-horizontal" width="20" height="20"> ... </span>
	            </a>
	        </li>
	        <li class="page-item" th:classappend="${currPage eq numPages} ? 'disabled'">
	            <a class="page-link svg-icon" th:href="@{/shows?page={id}(id=${currPage + 1})}"
	               aria-label="Next" th:text="Next"
	               title="Next Page" rel="tooltip">
	                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
	            </a>
	        </li>
	    </ul>
	</nav>
	
</div>
	
	<style>
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .text-white {
        text-decoration: none;
      }
      #foot {
        text-align: left;
      }
    </style>

    <footer class="bg-dark text-white">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="clearfix">
          <a class="float-start text-white" th:href="@{/zee5dashboard}"
            >Zee5dashboard</a
          >
        </div>
        <!-- <a class="text-white" id="foot" th:href="@{zee5dashboard}">Zee5dashboard</a> -->
      </div>
      <!-- Copyright -->
    </footer>
    
</body>
</html>